/* Global Styles */
body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #242424;
  font-family: 'Kanit', sans-serif; /* Change to Kanit */
  color: #ffffff;
  scroll-behavior: smooth;
}

/* Kanit Font Faces */
@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Thin.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 100; /* Thin */
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 200; /* ExtraLight */
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 200; /* ExtraLight */
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 300; /* Light */
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 400; /* Italic */
  font-style: italic;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 500; /* Medium */
  font-style: italic;
}
/*  */

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 600; /* Black */
  font-style: normal;
}

@font-face {
  font-family: 'Kanit';
  src: url('./assets/fonts/Kanit/Kanit-Regular.ttf') format('truetype');
  font-weight: 600; /* Black */
  font-style: italic;
}

/* Selection Styles */
::selection {
  background-color: #30779d;
  color: #ffffff; 
}

::-moz-selection {
  background-color: #30779d;
  color: #ffffff; 
}
